<div id="book-bg"></div>
<section id="book-content">
    <p><a id="book-close"><span>Close</span></a></p>
    <div id="book-left">
        <h2>Book Now</h2>
        <p>Please use the following form to contact us.  We would love to hear from you!  Just fill in a few pieces of information and we will get back in touch with you as quickly as possible! </p>
    </div>
    <form id="book-form" method="post" action="" name="book-form">
        <fieldset>
            <input type="text" id="first-name" name="firstName" placeholder="First Name" required="required">
            <input type="text" id="last-name" name="lastName" placeholder="Last Name" required="required">
        </fieldset>
        <fieldset>
            <input type="email" id="email" name="email" placeholder="Email Address" required="required">
            <input type="phone" id="phone" name="phone" placeholder="Phone Number">
        </fieldset>
        <fieldset>
            <textarea id="comments" name="comments" placeholder="Comments"></textarea>
            <input type="hidden" name="verify" value="">
        </fieldset>
        <p><a>Submit</a></p>
    </form>
</section>