<div id="book-bg"></div>
<section id="book-content">
    <p><a id="book-close"><span>Close</span></a></p>
    <div id="book-left">
        <h2>Book Now</h2>
        <p>In at augue a lectus pellentesque mattis a sit amet diam. Cras dapibus leo porta, eleifend justo ac, auctor nulla. Maecenas quis velit lobortis, consequat massa ac, suscipit urna</p>
    </div>
    <form id="book-form" method="post" action="" name="book-form">
        <fieldset>
            <input type="text" id="first-name" name="firstName" placeholder="First Name">
            <input type="text" id="last-name" name="lastName" placeholder="Last Name">
        </fieldset>
        <fieldset>
            <input type="email" id="email" name="email" placeholder="Email Address">
            <input type="phone" id="phone" name="phone" placeholder="Phone Number">
        </fieldset>
        <fieldset>
            <textarea id="comments" name="comments" placeholder="Comments"></textarea>
        </fieldset>
        <p><a>Submit</a></p>
    </form>
</section>