<div id="above-the-fold">
    <section id="spotlight">
        <div></div>
        <h1><span>Experience Renaissance Movement Music</span></h1>
        <p id="calls-to-action">
            <a id="home-events">
                <span></span>
                <strong>Upcoming Events</strong>
            </a>
            <a id="home-book">
                <span></span>
                <strong>Book Now</strong>
            </a>
        </p>
        <a id="home-play"></a>
        <p id="open-rmtv"><a>Open <span>RMTV</span></a></p>
    </section>
    <a id="home-news">
        <span></span>
        <strong>News</strong>
    </a>
</div>
<div id="below-the-fold">
    <section id="news-teaser">
        <div class="tiled-group">
            <article>
                <img src="/img/tile-example.jpg" alt="article title">
                <h3>TITLE</h3>
                <p>
                    Author | Date<br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat &nbsp;<a href="">Read More ...</a>
                </p>
            </article>
            <article>
                <img src="/img/tile-example.jpg" alt="article title">
                <h3>TITLE</h3>
                <p>
                    Author | Date<br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat &nbsp;<a href="">Read More ...</a>
                </p>
            </article>
            <article>
                <img src="/img/tile-example.jpg" alt="article title">
                <h3>TITLE</h3>
                <p>
                    Author | Date<br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat &nbsp;<a href="">Read More ...</a>
                </p>
            </article>
        </div>
    </section>
</div>