<div id="above-the-fold">
    <div></div>
    <section id="spotlight">
        <div></div>
        <h1><span><i>Experience</i><br><strong>Renaissance<br>Movement Music</strong></span></h1>
        <p id="calls-to-action">
            <a id="home-events" href="/events">
                <span></span>
                <strong>Upcoming Events</strong>
            </a>
            <a id="home-book">
                <span></span>
                <strong>Book Now</strong>
            </a>
        </p>
        <a id="home-play"></a>
        <p id="open-rmtv"><a>Open <span>RMTV</span></a></p>
    </section>
    <a id="home-news">
        <span></span>
        <strong>News</strong>
    </a>
</div>
<div id="below-the-fold">
    <section id="news-teaser"></section>
</div>