#above-the-fold {
    color: #fff;
    background: #000 url(../img/bg.jpg) no-repeat top right;
    height: 768px;
}
    #spotlight {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 528px;
        height: 528px;
        margin-left: -264px;
        margin-top: -264px;

        >div {
            position: absolute;
            top: 0;
            left: 0;
            height: 528px;
            width: 528px;
            background: #000;
            opacity: 0.3;
            border-radius: 264px;
        }

        >h1 {
            @include sprite();

            position: relative;
            height: 224px;
            width: 423px;
            margin: 65px auto 35px;
            background-position: -113px 0;
        }

        >p#calls-to-action {
            @include clearfix();

            width: 425px;
            margin: 0 auto;

            >a {
                @include link();

                position: relative;
                border: 3px solid #fff;
                height: 44px;
                width: 174px;
                line-height: 44px;
                text-align: center;
                font-size: 120%;
                color: #fff;
                float: left;

                &:first-child {
                    margin-right: 65px;
                }

                >span {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #fff;
                    opacity: 0.4;
                    visibility: hidden;
                }

                >strong {
                    position: relative;
                    font-weight: normal;
                }

                &:hover {
                    >span { visibility: visible; }
                    >strong {
                        color: #520000;
                        text-shadow: 0 0 1px #000;
                    }
                }

                &:active {
                    >span { opacity: 0.75; }
                }
            }
        }

        >a#home-play {
            @include link();
            @include sprite();

            position: relative;
            width: 79px;
            height: 79px;
            margin: 25px auto 10px;
            background-position: -34px 0;

            &:hover {
                background-position: -34px -79px;
            }
        }

        >p#open-rmtv {
            position: relative;
            text-align: center;

            >a {
                font-size: 130%;
                color: #fff;
                cursor: pointer;
                outline: none;
                text-decoration: none;

                >span {
                    color: #de0000;
                }

                &:hover {
                    color: #de0000;
                }
            }
        }
    }

    a#home-news {
        @include categoryHeading();

        position: absolute;
        bottom: 15px;
        left: 0;
}

#below-the-fold {
    background: #eeeece;

    >section {
        margin: 4px 0;
    }

    .tiled-group {
        @include threeColumnArticles();
    }
}