@mixin link() {
    display: block;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    >span { display: none; }
}

@mixin clearfix() {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

html {
    font-family: arial;
    font-size: 14px;
    color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    background: #000 url(../img/bg.jpg) no-repeat top right;
}

header {
    position: relative;

    a {
        @include link();

        color: #fff;
    }

    >a {
        height: 71px;
        width: 334px;
        background: url(../img/logo.png) no-repeat 0 0;
    }

    >nav {
        @include clearfix();

        position: absolute;
        right: 20px;
        top: 21px;

        >a {
            border: 3px solid transparent;
            height: 36px;
            line-height: 36px;
            text-align: center;
            padding: 0 10px;
            float: left;
            font-size: 120%;

            &#book {
                border-color: #fff;
                padding: 0 22px;
                margin-left: 10px;
            }
        }
    }
}

body {
    
}